.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px;
}

.catalog-item {
  width: 30%;
  text-align: center;
  margin-bottom: 50px;
}

.catalog-item img {
  width: 100%;
}

.catalog-item h3 {
  color: goldenrod;
  margin-top: 20px;
}

.catalog-item p {
  color: goldenrod;
  margin-top: 10px;
  font-weight: bold;
}
